{% extends 'base.html' %}
{% block content %}

<h1>Superhero Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ superhero.name }}</span>
    <p>Power: {{ superhero.power }}</p>
    <p>Description: {{ superhero.description }}</p>
    {% if superhero.age > 0 %}
      <p>Age: {{ superhero.age }}</p>
    {% else %}
      <p>Age: Blah</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'superheroes_update' superhero.id %}">Edit</a>
    <a href="{% url 'superheroes_delete' superhero.id %}">Delete</a>
  </div>
</div>

{% endblock %}